.header-table {
  font-size: 18px;
  font-style: italic;
  background: #154360;
  width: 100%;
  border-radius: 4px;
  margin-top: 10px;
  min-height: 50px;
}

.header-table-title {
  color: #fff;
  vertical-align: middle;
  font-weight: bold;
}

.header-table-menu {
  vertical-align: middle;
  color: #fff;
}
