<div>
  <table class="header-table" cellpadding="10px">
    <tbody>
      <tr>
        <td>
          <div class="header-table-title">
            CONSUMPTION TRACKER
          </div>
        </td>
        <td align="right">
          <div *ngIf="!stateService.menuVisible" (click)="toggleMenu()" style="cursor: pointer;" class="material-icons header-table-menu">
            menu
          </div>
          <div *ngIf="stateService.menuVisible" (click)="toggleMenu()" style="cursor: pointer;" class="material-icons header-table-menu">
            clear
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
