<div class="row justify-content-center">
  <div class="col-12">
    <div *ngFor="let measurement of stateService.selectedMeasurements">
      <app-measurement [measurement]="measurement" (measurementChange)="saveAllEnabled = true"></app-measurement>
      <br />
    </div>
    <button class="btn btn-primary btn-block" [disabled]="!saveAllEnabled" (click)="saveAll()">
      Save all
    </button>
    <br />
  </div>
</div>
