<div class="row justify-content-center">
  <span (click)="stateService.decreaseSelectedMonth()" class="material-icons period-arrow">
    arrow_back
  </span>
  &nbsp;&nbsp;
  <span class="period-date">
    {{ stateService.selectedDate | dateFormat }}
  </span>
  &nbsp;&nbsp;
  <span (click)="stateService.increaseSelectedMonth()" class="material-icons period-arrow">
    arrow_forward
  </span>
</div>
