<div>
  <div>
      <input type="checkbox" id="showConsumption" [(ngModel)]="showConsumption">
      <label for="showConsumption">Show consumption</label>
  </div>
  <div *ngFor="let periodStats of stateService.stats.periods">
    <app-collapse [periodStats]="periodStats" [showConsumption]="showConsumption"></app-collapse>
  </div>
</div>