<app-header></app-header>
<app-period *ngIf="!stateService.menuVisible"></app-period>
<app-measurements *ngIf="!stateService.menuVisible"></app-measurements>
<app-menu *ngIf="stateService.menuVisible"></app-menu>
