<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <router-outlet></router-outlet>
      <notifier-container></notifier-container>
    </div>
  </div>
</div>
