<br>
<div class="card">
  <div class="card-body">
    <h2>Login</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" [(ngModel)]="username" />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="password" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block">Login</button>
      </div>
    </form>
  </div>
</div>