<div class="card">
  <div class="card-body">
    <div class="card-title">
      <strong>{{ measurement.gauge.type }}</strong>
      : {{ measurement.gauge.name }}
    </div>
    <ngb-tabset #t="ngbTabset">
      <ngb-tab [title]="measurementTitle">
        <ng-template ngbTabContent>
          <div style="padding-top: 10px;">
            <p class="font-weight-light">
              What's the current value at the gauge's display?
            </p>
            <div class="input-group">
              <input type="text" class="form-control" [(ngModel)]="measurement.value" (ngModelChange)="setValueChanged()" />
              <div class="input-group-append">
                <div class="input-group-text">
                  <div [innerHTML]="measurement.gauge.unit"></div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab [title]="offsetTitle">
        <ng-template ngbTabContent>
          <div style="padding-top: 10px;">
            <p class="font-weight-light">
              Specify the initial value of the gauge. Change it accordingly if a new phisical device is installed.
            </p>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  Initial value
                </div>
              </div>
              <input type="text" class="form-control" [(ngModel)]="measurement.offset" (ngModelChange)="setOffsetChanged()" />
              <div class="input-group-append">
                <div class="input-group-text">
                  <div [innerHTML]="measurement.gauge.unit"></div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
    <hr />
    <div *ngIf="deleteConfirmVisible" class="alert alert-warning" role="alert">
      <table width="100%">
        <tr>
          <td colspan="2">
            Are you sure you want to delete this measurement?
          </td>
        </tr>
        <tr>
          <td><button class="btn btn-secondary btn-block" (click)="deleteCancel()">No</button></td>
          <td><button class="btn btn-danger btn-block" (click)="deleteConfirm()">Yes</button></td>
        </tr>
      </table>
    </div>
    <div *ngIf="!deleteConfirmVisible">
      <table width="100%">
        <tr>
          <td width="50%">
            <button class="btn btn-secondary btn-block" [disabled]="!(measurement.id > 0)" (click)="delete()">Delete</button>
          </td>
          <td width="50%">
            <button class="btn btn-primary btn-block" [disabled]="!saveEnabled" (click)="save()">Save</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
