<div>
    <p>
      <button type="button" class="btn btn-outline-primary btn-block" (click)="isCollapsed = !isCollapsed"
              [attr.aria-expanded]="isCollapsed">
        {{ periodStats.recordingDate | dateFormat }}
      </button>
    </p>
    <div [ngbCollapse]="!isCollapsed">
      <div class="card" style="margin-bottom: 20px;">
        <div class="card-body">
          <div *ngFor="let gaugeType of periodStats.types">
            <h4>{{ gaugeType.type }}</h4>
            <table class="table table-striped">
                <thead>
                  <tr>
                    <td scope="col" width="50%"><strong>Gauge</strong></td>
                    <td scope="col" width="50%" *ngIf="!showConsumption" align="right"><strong>Value</strong></td>
                    <td scope="col" width="50%" *ngIf="showConsumption" align="right"><strong>Consumption</strong></td>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let measurement of gaugeType.measurements">
                    <td width="50%">
                      {{ measurement.gaugeName }}
                    </td>
                    <td width="50%" *ngIf="!showConsumption" align="right">
                      {{ measurement.value }} <span [innerHTML]="gaugeType.unit"></span>
                    </td>
                    <td width="50%" *ngIf="showConsumption" align="right">
                        {{ measurement.consumption || 0 }} <span [innerHTML]="gaugeType.unit"></span>
                    </td>
                  </tr>
                  <tr *ngIf="showConsumption">
                    <td width="50%">
                      <strong>Total</strong>
                    </td>
                    <td width="50%" align="right">
                        <strong>{{ gaugeType.consumption }} <span [innerHTML]="gaugeType.unit"></span></strong>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
      </div>
    </div>
  </div>