<div class="row justify-content-center">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <h3>Statistics</h3>
        </div>
        <app-stats></app-stats>
      </div>
    </div>
  </div>
</div>
